version: "5.0"

services:
  web:
    build: .
    command: python3 /django-prof/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/django-prof
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
