asgiref==3.11.0
crispy-bootstrap5==0.6
dj-database-url==3.0.1
Django==6.0
django-allauth==65.13.1
django-crispy-forms==2.5
environs==14.5.0
marshmallow==4.1.2
psycopg2-binary==2.9.11
python-dotenv==1.2.1
setuptools==69.5.1
sqlparse==0.5.4
wheel==0.43.0
pillow==12.1.0
django-debug-toolbar==6.1.0
whitenoise==6.11.0
gunicorn==23.0.0
